{% extends "questionarios/partials/base_list.html" %}

{% block indicator_title %}Indicadores de Emprego{% endblock %}
{% block indicator_subtitle %}Gestão e controle de dados de emprego por operadora{% endblock %}

{% block create_url %}{% url 'questionarios:emprego_create' %}{% endblock %}

{% block table_headers %}
<th>Emprego Direto</th>
<th>Nacionais</th>
<th>Emprego Indireto</th>
<th>Total Geral</th>
{% endblock %}

{% block table_row_data %}
<td>{{ indicador.emprego_direto_total|default:"-" }}</td>
<td>{{ indicador.nacionais_total|default:"-" }}</td>
<td>{{ indicador.emprego_indireto|default:"-" }}</td>
<td><strong>{{ indicador.calcular_total_geral|default:"-" }}</strong></td>
{% endblock %}

{% block detail_url %}{% url 'questionarios:emprego_detail' indicador.pk %}{% endblock %}
{% block update_url %}{% url 'questionarios:emprego_update' indicador.pk %}{% endblock %}
{% block delete_url %}{% url 'questionarios:emprego_delete' indicador.pk %}{% endblock %}

{% block table_colspan %}8{% endblock %}

{% block resumo_url %}{% url 'questionarios:emprego_resumo' 2024 %}{% endblock %}