{% extends "questionarios/partials/base_list.html" %}

{% block indicator_title %}Tarifário Orange{% endblock %}
{% block indicator_subtitle %}Gestão e controle de dados tarifários da Orange{% endblock %}

{% block create_url %}{% url 'questionarios:tarifario_orange_create' %}{% endblock %}

{% block table_headers %}
<th>Rede Própria</th>
<th>Outras Redes</th>
<th>Internacional</th>
<th>SMS</th>
{% endblock %}

{% block table_row_data %}
<td>{{ indicador.chamadas_rede_propria|default:"-" }}</td>
<td>{{ indicador.chamadas_outras_redes|default:"-" }}</td>
<td>{{ indicador.chamadas_internacional|default:"-" }}</td>
<td>{{ indicador.sms|default:"-" }}</td>
{% endblock %}

{% block detail_url %}{% url 'questionarios:tarifario_orange_detail' indicador.pk %}{% endblock %}
{% block update_url %}{% url 'questionarios:tarifario_orange_update' indicador.pk %}{% endblock %}
{% block delete_url %}{% url 'questionarios:tarifario_orange_delete' indicador.pk %}{% endblock %}

{% block table_colspan %}8{% endblock %}

{% block resumo_url %}{% url 'questionarios:tarifario_orange_resumo' 2024 %}{% endblock %}